div#page {
    display: flex;
    height: 100px;
    width: 200px;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    background-color: blue;
}